	    <br /><br />
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto">
                        <!-- <h3>Let’s analyze <br><span>the situation</span> now</h3> -->
                        <p>Please select the options on any of the boxes below and it will graphically display the past and present situation as per the metric chosen.</p>
                    </div>
                </div>
            </div>
            <form name='cryptoanalysis' method='POST' action='/cryptocurry/analyze/visual/{{index}}/'>
            <div class="row">
		{% for index in indexes %}
                <!-- Single Course Area -->
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="single-feature-area mb-100 text-center">
                        <i class="icon-safebox"></i>
                        <h3>{{index}}</h3>
				{% if index == "coinmarketcapdata" %}
				<p>Select Metric to Analyze from the Dropdown: <select name="{{index}}" id="{{index}}">
				{% for elem in metricsdict.metrics.coinmarketcapdata %}
				<option value="{{elem}}">{{elem}}</option>
				{% endfor %}
				</select>&nbsp;&nbsp;&nbsp;&nbsp;<a href='#plotarea' onClick='javascript:displayplots("{{index}}", "{{urlprefix}}", "coinmarketcapdata");'>View&nbsp;&nbsp;Plot</a>
				{% elif index == "coinmarketdata" %}
				<p>Select Metric to Analyze from the Dropdown: <select name="{{index}}" id="{{index}}">
				{% for elem in metricsdict.metrics.coinmarketdata %}
				<option value="{{elem}}">{{elem}}</option>
				{% endfor %}
				</select>&nbsp;&nbsp;&nbsp;&nbsp;<a href='#plotarea' onClick='javascript:displayplots("{{index}}", "{{urlprefix}}", "coinmarketdata");'>View&nbsp;&nbsp;Plot</a>
				{% elif index == "investdata" %}
				<p>Select Metric to Analyze from the Dropdown: <select name="{{index}}" id="{{index}}">
				{% for elem in metricsdict.metrics.investdata %}
				<option value="{{elem}}">{{elem}}</option>
				{% endfor %}
				</select>&nbsp;&nbsp;&nbsp;&nbsp;<a href='#plotarea' onClick='javascript:displayplots("{{index}}", "{{urlprefix}}", "investdb");'>View&nbsp;&nbsp;Plot</a>
				{% elif index == "ohlcvdata" %}
				<p>Select Metric to Analyze from the Dropdown: <select name="{{index}}" id="{{index}}">
				{% for elem in metricsdict.metrics.ohlcvdata %}
				<option value="{{elem}}">{{elem}}</option>
				{% endfor %}
				</select>&nbsp;&nbsp;&nbsp;&nbsp;<a href='#plotarea' onClick='javascript:displayplots("{{index}}", "{{urlprefix}}", "ohlcv");'>View&nbsp;&nbsp;Plot</a>
				{% elif index == "coinbase" %}
				<a href='#/' onClick='javascript:showcoinbase();'>Coinbase</a>
				{% endif %}
				
			</p>
                        <a href="#" class="btn cryptos-btn">Read More</a>
                    </div>
                </div>
		{% endfor %}
		{% csrf_token %}
		</form>
		<div id='displayzone' class='semitrans' style='display:none;'></div>

            </div>
        </div>
    </div>
    <!-- ##### Course Area End ##### -->
