<!-- Navbar Area -->
        <div class="cryptos-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="cryptosNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"><img src="static/iface_resources/img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="/cryptocurry/analyze/visual/dsentryiface/">Profile</a></li>

				                                        
                                    <li><a href="#">Operations</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="#/" onclick='javascript:showwalletspage();'>- Wallets</a></li>
                                                <li><a href="#">- Buy/Sell</a></li>
                                                <li><a href="#">- Exchange/Convert</a></li>
						<li><a href="#">- Currencies</a></li>
						<li><a href="#">- Calculator</a></li>
                                            </ul>
                                            
                                            <div class="single-mega cn-col-4">
                                                <div class="megamenu-slides owl-carousel">
                                                    <img src="static/iface_resources/img/bg-img/bg-1.jpg" alt="">
                                                    <img src="static/iface_resources/img/bg-img/bg-1.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#">Groups</a></li>
				    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="contact.html">About us</a></li>
                                </ul>

                            </div>
                            <!-- Nav End -->
